* {
  margin: 8px;
  padding: 8px;
}

body {
  background-color:rgb(139, 139, 139);
}

form,
label {
  color: rgb(17, 17, 17);
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

a {
  background-color: rgb(105, 105, 105);
  color: rgb(17, 17, 17);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;

}

.legend {
  color: rgb(17, 17, 17);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

input,
select,
option {
  display: flex;
  margin-bottom: 15px;
  background-color: rgb(202, 202, 202);
  color: rgb(17, 17, 17);
  padding: 8px;
  border-radius: 7px;

}

.sub {
  border-radius: 7px;
  background: linear-gradient(rgb(10, 10, 10), rgb(112, 112, 112),);
  color: rgba(12, 10, 10, 0.801);
  font-weight: bold;
}
